{% extends "home/layout.html" %}
{% load static %}
{% block title %}
  Process
{% endblock %}

{% block content %}
    <header class="row align-items-center mt-3">
        <h1 class="col">{{recipe.name}}</h1>
        <a class="button-header mr-3 ml-3" href="{% url 'index' %}">Return</a>
    </header>

    <div class="joke-picture">
      <img src="{% static 'home/img/process.jpg' %}" alt="Creative process">
      <p>Credits: <a href="https://web.telegram.org/#/im?p=@programmerjokes" target="_blank">Programmer Jokes</a> </p>
    </div>
{% endblock %}
