{% extends "recipes/layout.html" %}
{% load static %}

{% block script %}
  <script src="{% static 'ingredients/js/ingredients.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <header class="row align-items-center mt-3">
        <h1 class="col">New Ingredient</h1>
        <a class="button-header mr-3 ml-3" href="{% url 'ingredients' %}">Return</a>
    </header>

    <form id="form-ingredient" class="create-item" action="{% url 'save_ingredient' %}" method="POST">
      {% csrf_token %}
        <div>
            <label for="articleNumber">Article Number</label>
            <input type="articleNumber" name="name" value="" minlength="1" maxlength="5" required>
            <label for="name">Name</label>
            <input type="text" name="name" value="" minlength="1" maxlength="64" required>
            <label for="baseAmount">Base Amount</label>
            <input type="number" name="baseAmount" min="0.01" step='1.00' max="9999999.99" value="" required>
            <label for="unit">Unit</label>
            <select class="" name="unit" >
                <option value="">Select an unit</option>
                <option value="kg">Kilo</option>
                <option value="lt">Liter</option>
            </select>
            <label for="price">Price</label>
            <input type="number" name="price" min="0.01" step='1.00' max="9999999.99" value="" required/>
            <a id="reset-form" class="button-clear" href="#">Clear</a>
            <a id="submit-form" class="button-save" href="#">Save</a>
        </div>
    </form>

{% endblock %}
