{% extends "recipes/layout.html" %}
{% load static %}

{% block script %}

<script src="{% static 'recipes/js/recipes.js' %}" type="text/javascript"></script>
{% verbatim %}
<!-- Prevent conflict between django syntax and Handlebars syntax -->
<script id="handlebar-recipe-show-template" type="text/template">
	<li class="item">
		<div class="media">

		{% endverbatim %}
		<img src="{% static 'recipes/img/cafe-1.jpg' %}" alt="Café 1">
		{% verbatim %}
		<ul class="media-body">
			<li><span>Name</span> {{name}}</li>
			<li><span>Cost</span> {{cost}} &euro;</li>
			<li><span>Desc.</span> {{description}}</li>
		</ul>
		<a class="edit" href="edit/{{id}}">Editar</a>
		<a href="details/{{id}}"><i class="details fas fa-eye"></i></a>
		</div>
	</li>
</script>
{% endverbatim %}


{% endblock %}

{% block content %}
	<header class="row align-items-center mt-3">
		<h1 class="col">Recipes</h1>
		<a class="button-header mr-3 ml-3" href="{% url 'add_recipe' %}">Add recipe</a>
	</header>
	<div class="filters">
		<input id="filter" type="text" name="filter" value="">
		<a class="button-search" href="#">Search</a>
	</div>
	<ul class="list-items">
		{% for recipe in recipes %}
			<li class="item">
				<div class="media">
				<img src="{% static 'recipes/img/cafe-1.jpg' %}" alt="Café 1">
				<ul class="media-body">
					<li><span>Name</span> {{recipe.name}}</li>
					<li><span>Cost</span> {{recipe.cost}} &euro;</li>
					<li><span>Desc.</span> {{recipe.description}}</li>
				</ul>
				<a class="edit" href="{% url 'edit_recipe' recipe.id %}">Editar</a>
				<a href="{% url 'details' recipe.id %}"><i class="details fas fa-eye"></i></a>

				</div>
			</li>
		{% endfor %}
	</ul>

	<span class="d-flex justify-content-center show-more">
    {% if all_results %}
      <p id="show-more-message">Nothing more to load</p>
  		<a id="show-more-button" style="display: none;" class="button-header mr-3 ml-3" data-page=1 href="#">Show More</a>
    {% else %}
      <p id="show-more-message"style="display: none;" >Nothing more to load</p>
  		<a id="show-more-button" class="button-header mr-3 ml-3" data-page=1 href="#">Show More</a>
    {% endif %}
	</span>
{% endblock %}
