{% extends "recipes/layout.html" %}
{% load static %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

<script src="{% static 'recipes/js/recipes.js' %}" type="text/javascript"></script>

{% verbatim %}
<!-- Prevent conflict between django syntax and Handlebars syntax -->
    <script id="handlebar-ingredient-template" type="text/template">
        <li>
            <input type="text" name="articleNumber" value="" placeholder="A. Number">
            <i class="fas fa-search"></i>
            <input readonly type="text" name="name" value="" placeholder="Name">
            <input type="number" name="quantity" value="" placeholder="Quantity">
            <input readonly type="text" name="unit" value="" placeholder="Unit">
            <input readonly type="number" name="cost" value="" placeholder="Est. Cost">
            <i class="fas fa-trash" onclick="removeRecipe()"></i>
        </li>
    </script>
{% endverbatim %}

{% endblock %}


{% block content %}
    <header class="row align-items-center mt-3">
        <h1 class="col">New Recipe</h1>
        <a class="button-header mr-3 ml-3" href="{% url 'index' %}">Return</a>
    </header>

    <form class="create-item" action="{% url 'save_recipe' %}" method="post">
        <div>
            <output name="estimatedValue">Estimated Value: <span>R$ 12.00</span></output>
            <label for="name">Name</label>
            <input type="text" name="name" value="">
            <label for="description">Description</label>
            <input type="text" name="description" value="">
            <div class="ingredients">
                <label for="ingredients">Ingredients</label>
                <ul id="ingredients">
                    <li>
                        <input type="text" name="articleNumber" value="" placeholder="A. Number">
                        <i class="fas fa-search"></i>
                        <input readonly type="text" name="name" value="" placeholder="Name">
                        <input type="number" name="quantity" value="" placeholder="Quantity">
                        <input readonly type="text" name="unit" value="" placeholder="Unit">
                        <input readonly type="number" name="cost" value="" placeholder="Est. Cost">
                        <i class="fas fa-trash" onclick="removeRecipe()"></i>
                    </li>
                </ul>
                <a id="new-ingredient" href="#"><span class="fas fa-plus"></span>New Ingredient</a>
            </div>

            <label for="method">Method of preparation</label>
            <textarea name="name" rows="8"></textarea>

            <a class="button-clear" href="#">Clear</a>
            <a class="button-save" href="#">Save</a>
        </div>
    </form>

{% endblock %}
